.slot_machine{
    display: flex;
    flex-direction: column;
    width: 63%;
    margin: auto;
}

.slots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid black;
    width: 100%;
    height: 370px;
    margin: auto;
}

.slot{
    border: 1px solid black;
}

.menu{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

